.env
.git


#Folders
*\__pycache__
700GHz

diffusion_classifier\data\*
diffusion_classifier/data
*/USAF_images
THz/USAF_images
THz\USAF_images
*/checkpoints_adapter
diffusion_classifier/runs/
diffusion_classifier\runs
*/logs
*.safethensors
*.pt
*.tiff
*/Slurm
*/results_eval_pipeline
*/log_curves

*/results_eval_pipeline_show_results/convnext_tiny_dropout_pretrained_2_2153749
*/results_eval_pipeline_show_results/convnext_tiny_dropout_untrained_2109804
*/results_eval_pipeline_show_results/convnext_tiny_pretrained_cn_wrapper_2017198
*/results_eval_pipeline_show_results/convnext_tiny_pretrained_cn_wrapper_load_once_2033949
*/results_eval_pipeline_show_results/convnext_tiny_pretrained_cn_wrapper_load_once_more_repeats_2071823
*/results_eval_pipeline_show_results/resnet50_dropout_pretrained_2_2153748
*/results_eval_pipeline_show_results/resnet50_dropout_pretrained_2_2153754
*/results_eval_pipeline_show_results/resnet50_dropout_untrained_2109805
*/results_eval_pipeline_show_results/resnet50_train_pretrained_cn_wrapper_2017199
*/results_eval_pipeline_show_results/resnet50_train_pretrained_cn_wrapper_load_once_more_repeats_2071824
*/results_eval_pipeline_show_results/train_dc_dropout_2d_2112518
*/results_eval_pipeline_show_results/train_dc_with_original_cn_multichannel_2036332
*/results_eval_pipeline_show_results/train_dc_with_original_cn_multichannel_load_once_2051652
*/results_eval_pipeline_show_results/vitb16_dropout_pretrained_2_2153747
*/results_eval_pipeline_show_results/vitb16_dropout_pretrained_2_2153753
*/results_eval_pipeline_show_results/vitb16_pretrained_cn_wrapper_2050294
*/results_eval_pipeline_show_results/vitb16_pretrained_cn_wrapper_load_once_2051710
*/results_eval_pipeline_show_results/vitb16_pretrained_cn_wrapper_load_once_more_repeats_2071825
*/results_eval_pipeline_show_results/vitb32_dropout_pretrained_2_2153738
*/results_eval_pipeline_show_results/vitb32_dropout_pretrained_2_2153739
*/results_eval_pipeline_show_results/vitb32_dropout_untrained_2109807
*/results_eval_pipeline_show_results/vitb32_pretrained_cn_wrapper_2011485
*/results_eval_pipeline_show_results/vitb32_pretrained_cn_wrapper_load_once_more_repeats_2071826